body {
    background: #FFFFFF
}

ul,
address {
    list-style: none;
}

header{
    width: 1600px;
    height: 130px;
}

h3 {
    display:inline-flex;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
nav {
    background-color: #FFFFFF
}

.hero {
    background-color: #2F303A;
    color: #FFFFFF;
}

footer {
    background-color: #2F303A;
}

li {
    display: list-item;
}